data/
archived/
judge_sandbox/
code_sandbox/
joblog/
__MACOSX/
bin/
lib/
share/
__pycache__/
results/

logs/
*_sandbox_*/
*_sandbox/

**.slurm
**.sh
*.log
*~
.ipynb_checkpoints/
.Trash*
.env
.venv
*.pyc
**.pickle

ngrok
ngrok-v3-stable-linux-amd64.tgz